<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <div id="app">

        <h2>할 일 추가하기</h2>

        <!-- 할 일 기입 input  -->
        <input type="text" v-model="message" placeholder="할 일을 기입해주세요." @keyup.enter="addTodo" id="addInput">

        <!-- 추가하기 버튼 -->
        <button class="buttonStyle" @click="addTodo" :disabled="!message? true : false">
            추가하기
        </button>

        <br><br>

        <!-- 전체 선택 checkbox -->
        <label for="chkAll">
            <input type="checkbox" id="chkAll" :checked="isAllChecked" @change="toggleAll">&nbsp;전체 선택
        </label>

        <!-- 완료 항목 전부 삭제 버튼 -->
        <button class="buttonStyle" style="margin-left: 30px;" @click="deleteAllCompleted">
            완료 전부 삭제
        </button>

        <br><br>

        <!-- 전부 삭제 버튼 -->
        <button class="buttonStyle" @click="deleteAll">전부 삭제</button>

        <!-- 선택 삭제 -->
        <button class="buttonStyle" @click="deleteSelection">선택 삭제</button>

        <!-- 체크항목 필터링 버튼 -->
        <select id="selectBtn" v-model="selectedOption" :selected="autoSelectionForChecked">
            <option value="all" selected>체크 상태</option>
            <option value="done">체크</option>
            <option value="undone">미체크</option>
        </select>

        <!-- 완료항목 필터링 버튼 -->
        <select id="selectBtn" v-model="completedOption" :selected="autoSelectionForCompletion">
            <option value="allCompleted">완료 상태</option>
            <option value="completed">완료</option>
            <option value="uncompleted">미완료</option>
        </select>

        <!-- 할 일 내용 칸 -->
        <ol>
            <span v-if="!todos.length">할 일이 없습니다.</span>

            <li v-for="(todo, id) in filteredTodo" :key="todo.id">
                <input type="checkbox" v-model="todo.checked" @change="updateLocalStorage" @click="updateTodo(todo.id)">
                <input type="text" v-model="todo.text"
                    :style="{fontWeight:fontWeight,borderRadius:borderRadius,border:border}"
                    :class="{completedTodoStyle : todo.completedTodoStyle}">
                <button class="buttonStyle" @click="updateTodo(todo.id)">수정</button>
                <button class="buttonStyle" @click="completeTodo(todo.id)"
                    :class="{completedButtonStyle : todo.completedButtonStyle}">완료</button>
            </li>
        </ol>

    </div>

    <script>

        new Vue({

            el: '#app',

            data: {
                todos: [],
                message: '',
                fontWeight: 'bold',
                borderRadius: '5px',
                border: '1px solid gray',
                idNum: 0,
                selectedOption: 'all',
                completedOption: 'allCompleted',
            },// data()-end

            methods: {

                setId() { // 존재하는 todo의 id 값 중 가장 큰 것을 선택하여 +1 한 값을 반환
                    if (this.todos.length > 0) {
                        this.idNum = Math.max(this.idNum, ...this.todos.map(todo => todo.id));
                    }
                    return ++this.idNum;
                },// setId()-end

                isEmptyException() {
                    // 항목 중 공백으로 된 text를 확인, boolean 값으로 반환
                    const isEmptyTodo = this.todos.some(todo => todo.text === '');
                    // 항목 중 공백으로 된 text를 찾아서 index 값을 반환
                    const todoIndex = this.todos.findIndex(todo => todo.text === '');
                    if (isEmptyTodo) {
                        alert((todoIndex + 1) + "번째 항목을 공백으로 남긴채 진행할 수 없습니다.\n할 일을 기입하거나 삭제 해주세요.");
                        window.event.preventDefault();
                        return true;
                    }
                    return false;
                },// isEmptyException()-end

                addTodo() { // 할 일 추가하기
                    if (this.isEmptyException()) { // 공백 유효성 검사
                        return false;
                    } else if (this.message.trim()) { // 할 일 추가하는 로직
                        this.todos.push({
                            id: this.setId(), text: this.message, completed: 'uncompleted',
                            checked: false, completedTodoStyle: false, completedButtonStyle: false
                        });
                        this.message = "";
                        this.updateLocalStorage();
                    }
                },// addTodo()-end

                completeTodo(todoId) { // 완료 버튼 기능 로직
                    const todo = this.todos.find(todo => todo.id === todoId);
                    if (this.isEmptyException()) { // 공백 유효성 검사
                        return false;
                    } else {
                        // 요소의 값을 바꿈으로써, text부분과 button의 style을 바꿔 직관적으로 완료의 상태를 표시
                        todo.completed = todo.completed === 'uncompleted' ? 'completed' : 'uncompleted';
                        todo.completedTodoStyle = !todo.completedTodoStyle;
                        todo.completedButtonStyle = !todo.completedButtonStyle;
                        this.updateLocalStorage();
                    }
                },// completedTodo()-end

                deleteAllCompleted() { // 완료된 모든 항목 삭제 로직
                    this.todos = this.todos.filter(todo => todo.completed !== 'completed');
                    this.updateLocalStorage();
                }, // deleteAllCompleted()-end

                updateTodo(todoId) { // 텍스트 수정 함수
                    this.updateLocalStorage();
                },// updateTodo()-end

                deleteSelection() { // 선택된 복수의 todo를 삭제
                    this.todos = this.todos.filter(todo => !todo.checked);
                    this.updateLocalStorage();
                },// deleteSelection()-end

                deleteAll() { // 모든 todo를 삭제
                    if (this.todos.length > 0) {
                        this.todos = [];
                    }
                    this.updateLocalStorage();
                    this.selectedOption = 'all';
                },// deleteAll()-end

                toggleAll(e) { // 전체 선택 checkbox의 값으로 computed 속성의 isAllChecked set() 실행
                    this.isAllChecked = e.target.checked;
                    this.updateLocalStorage();
                },// toggleAll()-end

                updateLocalStorage() { // localStorage를 최신화한다.
                    localStorage.setItem("todosInLocalStorage", JSON.stringify(this.todos));
                },// updateLocalStorage()-end

            },// methods()-end

            computed: {
                isAllChecked: {
                    get() { // 하나 이상의 모든 todo가 checked되면 전체 선택 checkbox의 값도 true로 설정
                        return this.todos.length > 0 && this.todos.every(todo => todo.checked);
                    },
                    set(value) { // 전체 선택 checkbox의 값을 모든 todo의 checked 속성에 할당
                        this.todos.forEach(todo => {
                            todo.checked = value;
                        });
                    }
                },// isAllChecked()-end

                filteredTodo() { // todos를 filter()를 사용하여 원하는 데이터 출력
                    let filteredItems = this.todos;

                    switch (this.selectedOption) { // check 상태 값을 필터로 데이터 분류
                        case 'done':
                            filteredItems = filteredItems.filter(todo => todo.checked);
                            break;
                        case 'undone':
                            filteredItems = filteredItems.filter(todo => !todo.checked);
                            break;
                    }//switch~case()-end

                    switch (this.completedOption) { // completed 상태 값을 필터로 데이터 분류
                        case 'completed':
                            filteredItems = filteredItems.filter(todo => todo.completed === 'completed');
                            break;
                        case 'uncompleted':
                            filteredItems = filteredItems.filter(todo => todo.completed === 'uncompleted');
                            break;
                    }//switch~case()-end

                    return filteredItems;
                },// filteredTodo()-end

                autoSelectionForChecked() { // select로 필터링 된 체크 또는 미체크 todos들이 전부 삭제 됐을 때, select의 값을 'all'로 바꿈
                    const doneTodos = this.todos.filter(todo => todo.checked);
                    const unDoneTodos = this.todos.filter(todo => !todo.checked);
                    if (this.selectedOption === 'done' && !doneTodos.length ||
                        this.selectedOption === 'undone' && !unDoneTodos.length) {
                        return this.selectedOption = 'all';
                    }
                }, // autoSelection()-end

                autoSelectionForCompletion() { // select로 필터링 된 완료 또는 미완료 todos들이 전부 삭제 됐을 때, select의 값을 'allCompleted'로 바꿈
                    const completedTodos = this.todos.filter(todo => todo.completed === 'completed');
                    const uncompletedTodos = this.todos.filter(todo => todo.completed === 'uncompleted');
                    if (this.completedOption === 'completed' && !completedTodos.length ||
                        this.completedOption === 'uncompleted' && !uncompletedTodos.length) {
                        return this.completedOption = 'allCompleted'
                    }
                } // autoSelectionForCompletion()-end

            },// computed()-end

            created() { // created()에서 데이터를 불러와야한다. => 로컬 스토리지에 있는 데이터 할당
                const storedTodos = JSON.parse(localStorage.getItem("todosInLocalStorage"));
                if (storedTodos) {
                    this.todos = storedTodos;
                    this.idNum = Math.max(this.idNum, ...this.todos.map(todo => todo.id));
                }
            },// created()-end

        });

    </script>

    <style>
        #app {
            width: 450px;
            margin: 50px auto;
            text-align: center;
        }


        #addInput {
            border: none;
            border-bottom: 1px solid black;
            width: 200px;
            font-size: 15px;
            outline: none;
        }

        #chkAll {
            font-size: 14px;
            font-weight: bold;
        }

        #selectBtn {
            text-align: center;
            box-shadow: 0px 2px 4px;
            border-radius: 10px;
            font-weight: bold;
        }

        #selectBtn:hover {
            background-color: lightgray;
        }

        .buttonStyle {
            background-color: white;
            border-radius: 10px;
            border: 1px solid gray;
            box-shadow: 0px 2px 4px;
            font-weight: bold;
        }

        .buttonStyle:hover {
            background-color: lightgray;
        }


        .completedTodoStyle {
            color: red !important;
            font-weight: bolder !important;
            text-decoration: line-through;
            opacity: 0.3;
        }

        .completedButtonStyle {
            background-color: lightcoral;
        }

        ol {
            margin-top: 30px;
        }

        li {
            list-style: none;
            margin-bottom: 10px;
        }
    </style>

</body>

</html>