<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
   
    <!-- todo id가 새로고침 했을 때 setId()로 초기화 돼서 id 값이 중복되는 현상-->
    <!-- todo 할 일 수정이 가능하게 하기-->
    <!-- todo 필터 만들기-->
    

    <div id="app">
        <h2>할 일 추가하기</h2>
        <input type="text" v-model="message" ref="inputRef">
        <button @click="addTodo" :style="buttonStyle" :disabled="!message ? true : false">추가하기</button><Br><br>

        <label for="chkAll">
            <input id="chkAll" type="checkbox" :checked="isAllChecked" @change="toggleAll">
            &nbsp;전체 선택<br><br>
        </label>

        <button @click="deleteAll" :style="buttonStyle">전부 삭제</button>
        <button @click="deleteSelection" :style="buttonStyle">선택 삭제</button>

        <ol>
            <span :class="{emptyComment : emptyComment}">할 일이 없습니다.</span>

            <li v-for="(todo, id) in todos" :key="id">
                <label :for="'chk' + id">
                    <input :id="'chk' + id" type="checkbox" v-model="todo.checked" @click="toggleChecked(id)">
                    <span :class="{todoClassStyle : todo.checked}" 
                            :style="{color: textColor, fontWeight: fontWeight}">{{todo.text}}</span>
                </label> 
                <button @click="deleteTodo(id)" :style="buttonStyle">삭제</button>
            </li>
        </ol>
    </div>

    
    <script>


        // 인스턴스 생성
        new Vue({
            el: '#app',
            data: {
                todos: [],
                message: '',
                textColor: 'blue',
                fontWeight: 'bold',
                buttonStyle: {
                    backgroundColor: 'white',
                    borderRadius: '10px',
                    border: '1px solid gray',
                    boxShadow: '0px 2px 4px',
                    fontWeight: 'bold'
                },
            },
            methods: {
                addTodo() {
                    if (this.message.trim()) {
                        this.todos.push({ id: this.setId(), text: this.message, checked: false });
                        this.message = "";
                        this.$refs.inputRef.focus();
                        localStorage.setItem("todosInLocalStorage", JSON.stringify(this.todos));
                    }
                },
                deleteTodo(id) {
                    this.todos.splice(id, 1);
                },
                toggleAll(event) {
                    this.isAllChecked = event.target.checked;
                },
                deleteAll() {
                    if(this.todos.length > 0) {
                        this.todos = [];
                    }
                },
                deleteSelection() {
                    this.todos = this.todos.filter((todo) => !todo.checked);
                },
                
                setId() {
                    if(!this.idNum) {
                        this.idNum = 0;
                    }
                    return ++this.idNum;
                },
                toggleChecked(id) {
                    var todo = this.todos.find(todo => todo.id === id);
                    if(todo) {
                        todo.checked = !todo.checked;
                    }
                    localStorage.setItem("todosInLocalStorage", JSON.stringify(this.todos));
                },
            },
            computed: {
                isAllChecked: {
                    get() {
                        return this.todos.length > 0 && this.todos.every(todo => todo.checked);
                    },
                    set(value) {
                        this.todos.forEach(todo => {
                            todo.checked = value;
                        });
                    }
                },
                emptyComment() {
                    if(this.todos.length > 0) {
                        return true;
                    } else return false;
                },
            },
            watch: {
                todos: {
                    handler(newTodos) {
                        localStorage.setItem("todosInLocalStorage", JSON.stringify(newTodos));
                    }
                },
            },
            mounted() {
                const storedTodos = JSON.parse(localStorage.getItem("todosInLocalStorage"));
                if (storedTodos) {
                    this.todos = storedTodos;
                }
            }
        });



    </script>

    <style>
        #app > ol > li{
            display: flex;
            justify-content: space-between;
        }

        #app {
            width: 250px;
            margin: 50px;
        }
        .todoClassStyle {
            color: red !important;
            font-weight: bolder !important;
            text-decoration: line-through;
        }
        .emptyComment {
            display: none;
        }
    </style>

</body>
</html>
